
.solid {
    border: 1px solid red;
    width: 450px;
    height: 300px;
}

.dotted {
    border: 3px dotted blue;
    width: 450px;
    height: 300px;
}

.dashed {
    border: 3px dashed green;
    width: 450px;
    height: 300px;
}

.double {
    border: 5px double orange;
    width: 450px;
    height: 300px;
}
