    /* №1

    Поставьте все заголовки h1 по правому краю. */

h1 {
    text-align: right;
}

    /* №2

    Поставьте все заголовки h2 по центру. */

h2 {
    text-align: center;
}

    /* №3

    Установите всем таблицам ширину в 500px. */

table {
    width: 500px;
}


    /* №4

    Поставьте текст в ячейках th по левому краю. */

th {
    text-align: left;
}


    /* №5

    Поставьте текст в ячейках td по центру. */

td {
    text-align: center;
}


    /* №6

    Установите всем абзацам ширину в 300px. */

p {
    width: 300px;
}


    /* №7

    Выровняйте текст всех абзацев одновременно по правому и по левому краю. */

p {
    text-align: justify;
}


    /* №8

    Установите заголовкам h2 ширину в 300px. Поставьте их по центру. Обратите внимание на то, что центрирование будет происходить внутри этих 300px. */

h2 {
    width: 300px;
    text-align: center;
}