
/* В вашем файле styles.css разместите код, красящий абзацы в красный цвет. Откройте страницы вашего сайта в браузере и убедитесь в том, что все абзацы стали красными. */

p {
    color: red;
}
/* 
    №3

    Используя соответствующие селекторы покрасьте заголовки h1 в зеленый цвет, заголовки h2 в голубой, заголовки h3 - в красный, а абзацы - в оранжевый. */

h1 {
    color: green;
}

h2 {
    color: blue;
}

h3 {
    color: red;
}

p {
    color: orange;
}

