
/* a:link {
    color:rgb(21, 164, 248);
}
a:visited {
    color: lightgreen;
}
a:hover {
    color: red;
    text-decoration: none;
}
a:active {
    color: black;
} */

a {
    color: dodgerblue;
    text-decoration: none;
}

a:hover {
    color: crimson;
    text-decoration: underline;
}
