h1 {
    font-family: serif;
}
h2 {
    font-family: 'Times New Roman';
}
h3 {
    font-family: Georgia;
}
h4 {
    font-family: monospace;
}
h5 {
    font-family: Verdana;
}
h6 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}