
    /* Сократите код, используя свойство-сокращение font:

    p {
        font-family: "Times New Roman";
        font-size: 13px;
        line-height: 20px;
    } */

p {
    font: 13px/20px "Times New Roman";
    /* font-family: "Times New Roman";
    font-size: 13px;
    line-height: 20px; */
} 

    /* №2

    Сократите код, используя свойство-сокращение font:

    p {
        width: 300px;
        font-family: Arial;
        color: red;
        font-size: 40px;
        font-weight: bold;
    } */

p {
    width: 300px;
    font: bold 40 Arial;
    /* font-family: Arial; */
    color: red;
    /* font-size: 40px;
    font-weight: bold; */
}

    /* №3

    Сократите код, используя свойство-сокращение font:

    p {
        font-family: Arial;
        font-size: 40px;
        font-weight: bold;
        text-indent: 50px;
        font-style: italic;
        line-height: 60px;
    } */

p {
    font: italic bold 40px/60px Arial;
    /* font-family: Arial;
    font-size: 40px;
    font-weight: bold; */
    text-indent: 50px;
    /* font-style: italic;
    line-height: 60px; */ 
}